/* .ruler {
    position: relative;
    width: 70%;
    margin: 7px auto;
    height: 14px;
   }
   .ruler .cm,
   .ruler .mm {
    position: absolute;
    border-left: 1px solid #555;
    height: 8px;
    width: 10%;
    z-index: -1;
   }
   .ruler .cm:after {
    position: absolute;
    bottom: 0;
    font: 11px/1 sans-serif;
   }
   .ruler .mm {
    height: 5px;
   }
   .ruler .mm:nth-of-type(5) {
    height: 10px;
   }
   .ruler .cm:nth-of-type(1) {
    left: 0%;
   }
   .ruler .cm:nth-of-type(1):after {
    content: "1";
   }
   .ruler .cm:nth-of-type(2) {
    left: 10%;
   }
   .ruler .cm:nth-of-type(2):after {
    content: "2";
   }
   .ruler .cm:nth-of-type(3) {
    left: 20%;
   }
   .ruler .cm:nth-of-type(3):after {
    content: "3";
   }
   .ruler .cm:nth-of-type(4) {
    left: 30%;
   }
   .ruler .cm:nth-of-type(4):after {
    content: "4";
   }
   .ruler .cm:nth-of-type(5) {
    left: 40%;
   }
   .ruler .cm:nth-of-type(5):after {
    content: "5";
   }
   .ruler .cm:nth-of-type(6) {
    left: 50%;
   }
   .ruler .cm:nth-of-type(6):after {
    content: "6";
   }
   .ruler .cm:nth-of-type(7) {
    left: 60%;
   }
   .ruler .cm:nth-of-type(7):after {
    content: "7";
   }


   .ruler .mm:nth-of-type(1) {
    left: 10%;
   }
   .ruler .mm:nth-of-type(2) {
    left: 20%;
   }
   .ruler .mm:nth-of-type(3) {
    left: 30%;
   }
   .ruler .mm:nth-of-type(4) {
    left: 40%;
   }
   .ruler .mm:nth-of-type(5) {
    left: 50%;
   }
   .ruler .mm:nth-of-type(6) {
    left: 60%;
   }
   .ruler .mm:nth-of-type(7) {
    left: 70%;
   }
   .ruler .mm:nth-of-type(8) {
    left: 80%;
   }
   .ruler .mm:nth-of-type(9) {
    left: 90%;
   }
   .ruler .mm:nth-of-type(10) {
    left: 100%;
   }
   #mentionme{  
     text-align:center;
     margin-top:10%;
   } */

  .mm {
    width: 14px;
    height: 2px;
    border-left: 1px solid #000;
}

.ruler {
    width: 53%;
    height: 10px;
    margin: auto;
    display: flex;
}

.cm {
  font-size: 13px;
  position: relative;
  top: -7px;
  width: 13px;
}

.mm.m {
  height: 6px;
}

.ruler-border {
  border: 1px solid #000;
  padding-top: 4px;
}